* {
  font-family: "IBM Plex Sans KR", sans-serif;
}

body {
  height: 90vh;
}

h2 {
  font-family: "Black Han Sans", sans-serif;
}

button {
  cursor: pointer;
}

.div-row {
  display: flex;
  gap: 5px;
}

#pung-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#ul-pung-list {
  height: 80%;
  overflow: auto;
}
